<html>
    <head>
        <title>Rock Paper Scissors</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class = "container">
            <h1>Play Rock Paper Scissors with me!</h1>
            <form action = "/results">
                <div class = "form-group">
                    <label for = "user">Rock Paper Scissors</label>
                    <input name = "user" class = "form-control" type = "test" required>
                </div>
                <button type = "submit" class="btn-primary">Play!</button>
            </form>
        </div>
    </body>
</html>
